.home {
  main {
    overflow: hidden;
    .des {
      background-image: url(../images/layers.png);
      height: 100vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      .container-fluid {
        .info {
          color: rgb(50, 50, 50);
          font-weight: 500;
          width: 50vw;
          max-height: 100vh;
          position: relative;
          top: 9vh;
          left: 2rem;
          text-align: left;
          filter: opacity(0.8);
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
      }
    }

    .posts {
      background: url(../images/blurry-gradient.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 3.5vh;
      padding-bottom: 5vh;
      .container {
        margin: 0 auto;
        padding: 0;
        width: 90vw;
        h2 {
          color: white;
          margin-left: 1.8rem;
          text-shadow: 0 2px 2px rgb(187, 187, 187);
          &:after {
            content: "";
            width: 11.7rem;
            height: 3.5px;
            display: block;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 2px 5px rgb(187, 187, 187);
          }
        }
        .row {
          padding: 0;
          padding-bottom: 1vh;
          margin: 0;
          .col-md-4 {
            margin: 0 auto;
            padding: 20px 20px;
            .card {
              border-radius: 10px;
              box-shadow: 0 0 8px rgb(189, 189, 189);

              img {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
              }
            }
          }
        }
        a {
          text-decoration: none;
          button {
            font-weight: 600;
            margin: 0 auto;
            max-width: 55vw;
            border: 2px solid #000;
          }
        }
      }
    }
  }
}
