.blog {
  .navbar {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(212, 212, 212);
    box-shadow: 0 2px 20px 1px rgba(167, 167, 167, 0.801);
    height: 5rem;
    .navbar-brand {
      margin: -17px;
      padding: 0;
    }
    ul {
      .active:after {
        background-color: black;
      }
      li {
        a {
          color: black;
          &:after {
            background-color: black;
          }
        }
      }
    }
  }

  .main {
    .container {
      margin: 0 auto;
      margin-top: 15.5vh;
      padding: 0;
      width: 90vw;
      h2 {
        margin-left: 1.8rem;
        text-shadow: 0 2px 2px rgb(187, 187, 187);
        &:after {
          content: "";
          width: 11.7rem;
          height: 3.5px;
          display: block;
          background-color: black;
          animation: move 2s 1 alternate;
          box-shadow: 0 2px 5px rgb(187, 187, 187);
        }
      }
      .row {
        padding: 0;
        margin: 0;
        .col-md-4 {
          margin: 0 auto;
          padding: 20px 20px;
          .card {
            border-radius: 10px;
            box-shadow: 0 0 8px rgb(189, 189, 189);
            transition: all 0.5s ease;
            &:hover {
              transform: scale(1.03);
              box-shadow: 0 0 8px rgb(155, 155, 155);
            }

            img {
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
            }
          }
        }
      }
    }
    #read {
      margin: 0;
      margin-top: 2rem;
      margin-left: 5vw;

      .list-unstyled {
        padding: 0 0.5rem;
        padding-top: 1rem;
        .media {
          padding: 1.5rem 0;
          img {
            box-shadow: 0 0 5px rgb(69, 69, 69);
            width: 150px !important;
          }
        }
      }
    }
    a {
      text-decoration: none;
      button {
        color: white;
        font-weight: 600;
        margin: 0 auto;
        max-width: 55vw;
        margin-bottom: 2rem;
        transition: all 0.3s ease-in-out;
        background: rgb(87, 1, 227);
        background: linear-gradient(
          90deg,
          rgba(87, 1, 227, 1) 5%,
          rgba(37, 0, 97, 1) 84%
        );
        &:hover {
          transform: scale(1.03);
          box-shadow: 0 0 8px rgba(37, 0, 97, 0.571);
        }
      }
    }
  }
}
