@media only screen and (min-width: 1000px) {
  .slide {
    .carousel-item {
      img {
        width: 100vw;
      }
    }
  }
}

@media only screen and (max-width: 446px) {
  .blog .main .container {
    width: auto;
  }
}

@media only screen and (max-width: 576px) {
  .blog,
  .contact,
  .home {
    .navbar {
      .navbar-brand {
        margin: -17px;
        padding: 0;
      }
      ul {
        background-color: #1a1a1a;
        padding: 0.5rem 0;
        .active:after {
          background-color: transparent;
        }
        li {
          padding: 0.2rem 2rem;
          a {
            color: rgb(255, 255, 255);
            &:after {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
